@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;500;600;700;1,400;500;600;700&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.logo{
    font-family: "Lora", serif;
}

@keyframes slide1 {
  0% { transform: translateY(-100%) translateX(-10%); opacity: 0; }
  50% { opacity: 0.5; }
  100% { transform: translateY(100%) translateX(10%); opacity: 0; }
}

@keyframes slide2 {
  0% { transform: translateY(100%) translateX(10%); opacity: 0; }
  50% { opacity: 0.3; }
  100% { transform: translateY(-100%) translateX(-10%); opacity: 0; }
}

.animate-slide1 {
  animation: slide1 2s linear infinite;
}

.animate-slide2 {
  animation: slide2 2.5s linear infinite;
}
