@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;500;600;700;1,400;500;600;700&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.logo{
    font-family: "Lora", serif;
}